.vertical-line {
  border-left: 1.5px solid rgb(255, 255, 255);
  height: 160px;
}

.logoFoot {
  img {
    max-width: 90px;
  }
}

.top-image {
  img {
    max-width: 100%;
  }
}

.btn-primary {
  color: white;
}
